body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    font-family: arial, sans-serif;
}

#game {
    color: #222;
    width: 80%;
    max-width: 700px;
    backdrop-filter: blur(12px);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

subtitle {
    font-style: italic;
    color: #555;
    margin-bottom: 30px;
}

.scene-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 10px;
}

.scene {
color: black;
font-size: 14px;
font-weight: bold;
margin-bottom: 20px;
border-bottom: 2px solid #222;
padding-bottom: 5px;
}

.container {
width: 80%;
max-width: 800px;
background-color: rgba(255, 255, 255, 0.8);
padding: 40px;
border-radius: 15px;
text-align: center;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

lesson {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

h1 {
    margin-bottom: 20px;
}
p {
    line-height: 1.6;;
}
button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: scale (1,05);
}
button:hover {
    background-color: #fcff9e;
    opacity: 0.9;
}